html {
  touch-action: manipulation;
}

body {
  background: #57d1fa;
}

html,
body,
div#app {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

canvas {
  position: relative;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
}

